{
  "AppSettings": {
    "Secret": "secret"
  },
  "ConnectionStrings": {
    "MainContext": "Server=SERVER-PC;Database=DB_NAME;Trusted_Connection=True;TrustServerCertificate=True;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
